<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

<div class="flex-row bg-color">
  <div class="flex-col">
    <h1 class="headline" >
      Martin + Sophia
    </h1>
    <img class="picture" src="/assets/pictures/herz-leuchtet-mit-funken-hintergrund-700-114967533.jpg" alt="herz-leuchtet-mit-funken-hintergrund">
    <div class="text">
      Wir sind zusammen seit {{beginningOfRelationship | date: 'dd.MM.yyyy HH:mm'}} <br>
      Das sind:
    </div>
    <div class="flex-row cardscontainer">
      <div class="card" >
        {{years | number : "1.0-0"}} Jahre
      </div>
      <div class="card" >
        {{month | number : "1.0-0"}} Monate
      </div>
      <div class="card" >
        {{days | number : "1.0-0"}} Tage
      </div>
      <div class="card" >
        {{hours | number : "1.0-0"}} Stunden
      </div>
      <div class="card" >
        {{minutes | number : "1.0-0"}} Minuten
      </div>
      <div class="card" >
        {{seconds | number : "1.0-0"}} Sekunden
      </div>
    </div>
  </div>
</div>
